.wrapper
	.left-content
		%header.form-header
			%h1 Free Mobile Real Estate Website
			%span 
				%img.line-break.png{:src => image_path("hr.png")}
			%form{:name => "myForm", :method => "post", :action => "/users", :id => "myForm"}
				= render 'shared/error_messages'
				.clearfix
					%label{:for => "yourName"} Your Name:
					.input
						%input{:type => "text", :class => "yourName", :size => "medium", :name => "user[name]"}
				.clearfix
					%label{:for => "email"} Your Email:
					.input
						%input{:type => "email", :class => "email", :size => "medium", :name => "user[email]"}
				.clearfix
					%label{:for => "user_password"} Password:
					.input
						%input{:type => "password", :id => "user_password", :name => "user[password]", :class => "password", :size => "medium"}
				.clearfix
					%label{:for => "user_password_confirmation"} Confirmation:
					.input
						%input{:type => "password", :name => "user[password_confirmation]", :id => "user_password_confirmation", :class => "password_confirmation", :size => "medium"}
				.clearfix
					%input{:type => "submit", :value => "Send", :class => "button"}
	.right-content
		%img.search-img{:src => image_path('iphone.png')}
	.clearfix
		.tutorials
			%ul.tuts
			
.upper-platform